{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href=" https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Koulen&display=swap"
      rel="stylesheet"
    />
    <!-- Link to CSS File -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'sneakers_app/css/style.css' %}"
    />
    <!-- Link to JS File -->
    <script defer src="{% static 'sneakers_app/js/app.js' %}"></script>
    <!-- favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'sneakers_app/images/Sneaks.jpg' %}"
    />
    <!-- VUE -->

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<!-- font awesome -->
<script src="https://kit.fontawesome.com/4696bc222d.js" crossorigin="anonymous"></script>
    <title>Sneaks</title>
  </head>
  <body>
    <div id="app">
      <div class="container-fluid">
        <div class="row flex-nowrap">
          <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div
              class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
            >
              <ul
                class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                id="menu"
              >
                <li class="nav-item">
                  <a
                    href="{% url 'sneakers_app:profile' %}"
                    class="nav-link align-middle px-0"
                  >
                    <i class="fs-4 bi-house"></i>
                    <span
                      id="home"
                      class="ms-1 d-sm-inline text-white display-6"
                      style="font-family: 'Koulen', cursive"
                      >Home</span
                    >
                  </a>
                </li>
                <li>
                  <a
                    href="#submenu1"
                    data-bs-toggle="collapse"
                    class="nav-link px-0 align-middle"
                  >
                    <i class="fs-4 bi-speedometer2"></i>
                    <span
                      class="ms-1 d-sm-inline text-white display-6"
                      style="font-family: 'Koulen', cursive"
                      >Brands</span
                    >
                  </a>
                  <ul
                    class="collapse nav flex-column ms-1"
                    id="submenu1"
                    data-bs-parent="#menu"
                    v-for="brand in brands"
                  >
                    <li class="w-100">
                      <a
                        v-on:click="brandSneaks(brand)"
                        href="#"
                        class="nav-link px-0"
                      >
                        <span
                          class="d-sm-inline"
                          style="font-family: 'Koulen', cursive"
                          >[[brand]]</span
                        >
                      </a>
                    </li>
                  </ul>
                </li>

                <li>
                  <a v-on:click="favProfile" href="#" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-people"></i>
                    <span
                      class="ms-1 d-sm-inline text-white display-6"
                      style="font-family: 'Koulen', cursive"
                      >Favorites</span
                    >
                  </a>
                </li>
                <li>
                  <a v-on:click="upcomingSneaks" href="#" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-people"></i>
                    <span
                      class="ms-1 d-sm-inline text-white display-6"
                      style="font-family: 'Koulen', cursive"
                      >Upcoming Sneaks</span
                    >
                  </a>
                  </li>

                <li>
                  <a href="#" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-people"></i>
                    <span
                      class="ms-1 d-sm-inline text-white display-6"
                      style="font-family: 'Koulen', cursive"
                      >Search</span
                    >
                  </a>
                </li>

                  <input
                    class="form-control-sm"
                    type="text"
                    v-model="search"
                    value="search"
                    placeholder="Search"
                    @keyup.enter="searchSneaks(search)"
                  />
                  <br />
                  <button @click="searchSneaks(search)" class="btn btn-warning">
                    Search
                  </button>
                </li>
              </ul>
              <hr />
              <div class="dropdown pb-4">
                <a
                  href="#"
                  class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                  id="dropdownUser1"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <img
                    src="{% static 'sneakers_app/images/Sneaks.jpg' %}"
                    alt="hugenerd"
                    width="30"
                    height="30"
                    class="rounded-circle"
                  />
                  <span
                    class="d-none d-sm-inline mx-1"
                    style="font-family: 'Koulen', cursive"
                    >{{request.user}}</span
                  >
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                  <li><a 
                    v-on:click="profileSwitch"
                    class="dropdown-item" href="#" >Profile</a></li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li><a class="dropdown-item" href="{%url 'sneakers_app:logout'%}">Sign out</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col text-center">
            <!-- <div id="app" > -->
            <nav
              class="navbar navbar-dark bg-dark fixed-top navbar-custom"
              style="margin-left: 275px"
            >
              <div class="container">
                <li
                  class="navbar-nav text-white mx-auto display-3"
                  style="list-style: none; font-family: 'Koulen', cursive"
                >
                  [[header]]
                </li>
                <a href="" class="navbar-brand">
                  <img
                    class="img-thumbnail img-fluid rounded-circle"
                    style="max-width: 75px"
                    src="{% static 'sneakers_app/images/Sneaks.jpg' %}"
                    alt="brand image"
                  />
                </a>
              </div>
            </nav>
       
            <section v-if="profile==1"  style="margin-top: 100px">
              <!-- SHOE DISPLAY -->
              
              <div
                v-for="shoe in shoes"
                class="card d-inline-block"
                style="width: 18rem;"
              >
                <img
                  v-if="shoe.image.thumbnail"
                  :src="[[shoe.image.thumbnail]]"
                  class="card-img-top"
                  :alt="[[shoe.silhouette]]"
                  style="height: 286px;"
                  
                />
                <img
                  v-else
                  src="{% static 'sneakers_app/images/INA.jpeg' %}"
                  class="card-img-top"
                  alt="image not available"
                  style="height: 286px;"
                />

                <div class="card-body">
                  <h5 class="card-title">[[shoe.name]]</h5>
                  <p class="card-text">[[shoe.brand]]</p>
                  <p class="card-text">Release Date: [[shoe.releaseDate]]</p>
                  <p class="card-text">Retail Price: $[[shoe.retailPrice]]</p>
                  <a :href="[[shoe.links.flightClub]]" target="_blank"
                    >Flight Club</a
                  ><br />
                  <a :href="[[shoe.links.goat]]" target="_blank">GOAT</a>
                  <br>
                  <a href=""><i class="fa-solid fa-heart text"  style="color: red;"></i> Add Favorite</a>
                </div>
              </div>


              <nav aria-label="Page navigation" class="mt-5">
                <ul class="pagination justify-content-center">
                  <li class="page-item"><a v-on:click="homeSneaks" class="page-link" href="#">Home</a></li>
                  <li class="page-item"><a v-on:click="previousPage(previous)" class="page-link" href="#">Previous</a></li>
                  <li class="page-item"><a v-on:click="nextPage(next)" class="page-link" href="#">Next</a></li>
                </ul>
              </nav>
              </section>
          

              <section  v-else-if="profile==2"  style="margin-top: 100px">
                FAVORITES
              </section>
           
              <section v-else style="margin-top: 100px">
                <section class="vh-50" style="background-color: #eee;">
                  <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                      <div class="col-md-12 col-xl-4">
                
                        <div class="card" style="border-radius: 15px;">
                          <div class="card-body text-center">
                            <div class="mt-3 mb-4">
                              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                                class="rounded-circle img-fluid" style="width: 100px;" />
                            </div>
                            <h4 class="mb-2">{{user.first_name}} {{user.last_name}}</h4>
                           
                            <p class="text-muted mb-4">Username: <span class="mx-2">|</span> {{user.username}}</p>
                            <div class="mb-4 pb-2">
                              <button type="button" class="btn btn-outline-primary btn-floating">
                                <i class="fab fa-facebook-f fa-lg"></i>
                              </button>
                              <button type="button" class="btn btn-outline-primary btn-floating">
                                <i class="fab fa-twitter fa-lg"></i>
                              </button>
                              <button type="button" class="btn btn-outline-primary btn-floating">
                                <i class="fab fa-skype fa-lg"></i>
                              </button>
                            </div>
                            <button type="button" class="btn btn-primary btn-rounded btn-lg">
                              Message now
                            </button>
                            <div class="d-flex justify-content-between text-center mt-5 mb-2">
                              <div>
                                <p class="mb-2 h5">8471</p>
                                <p class="text-muted mb-0">Wallets Balance</p>
                              </div>
                              <div class="px-3">
                                <p class="mb-2 h5">8512</p>
                                <p class="text-muted mb-0">Income amounts</p>
                              </div>
                              <div>
                                <p class="mb-2 h5">4751</p>
                                <p class="text-muted mb-0">Total Transactions</p>
                              </div>
                            </div>
                          </div>
                        </div>
                
                      </div>
                    </div>
                  </div>
                </section>
              </section>
          
              <!-- END OF SHOE DISPLAY -->
            
            <div class="my-5">
              <button class="btn btn-primary">
                <a class="text-white text-decoration-none" href="#home">TOP</a>
              </button>
            </div>

            <!-- 
  
            <!-- END OF CONTENT AREA -->
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap JavaScript -->
    <script src=" https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
